<?php
    $address = $block->getAddress();
    $login = $block->isLoggedin();
    $customer = $block->getCustomerId();
?>

<div class="address">
    <?php if ($block->isLoggedIn()): ?>
        <button class="create">
            <a href="<?=$block->getBaseUrl()."catalogaddress/index/create"; ?>">Create New</a>
        </button>
    <?php endif; ?>
</div>




<table>
    <tr>
        <th>Store Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Website</th>
        <th colspan="2"></th>
    </tr>


    <?php
        foreach ($address as $item) {
            if($block->isLoggedIn()): ?>
            <tr>
                <td><?=$item['store_name'] ?></td>
                <td><?=$item['address'] ?></td>
                <td><?=$item['phone'] ?></td>
                <td><?=$item['email'] ?></td>
                <td><?=$item['website'] ?></td>
                <?php if($item['customer_id'] == $customer): ?>
                    <td id="delete"><a href="<?=$block->getBaseUrl()?>catalogaddress/subscription/delete?id=<?=$item['id']?>" >Delete</a></td>
                    <td id="edit"><a href="<?=$block->getBaseUrl()?>catalogaddress/index/edit?id=<?=$item['id']?>" >Edit</a></td>
                <?php endif; ?>
            </tr>
            <?php endif; ?>
            <?php
        }
    ?>
</table>


