<?php
$address = $block->getAddress();
$login = $block->isLoggedin();
$customer = $block->getCustomerId();

$editUrl = $block->getBaseUrl()."catalogaddress/ajax/update";
$createUrl = $block->getBaseUrl()."catalogaddress/ajax/insert";
$deleteUrl = $block->getBaseUrl()."catalogaddress/ajax/delete";
?>

<div id="address-component" data-bind="scope:'addresscomponent'">
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
    {
        "#address-component": {
            "Magento_Ui/js/core/app": {
               "components": {
                    "addresscomponent": {
                        "component": "Magenest_CatalogAddress/js/address-component",
                        "template": "Magenest_CatalogAddress/address-template",
                        "address":<?php echo json_encode($address) ?>,
                        "login":<?php echo json_encode($login) ?>,
                        "customer":<?php echo json_encode($customer) ?>,
                        "editUrl":<?php echo json_encode($editUrl) ?>,
                        "createUrl":<?php echo json_encode($createUrl) ?>,
                        "deleteUrl":<?php echo json_encode($deleteUrl) ?>
                    }
                }
            }
        }
    }
    </script>
</div>

