<form name="form" method="post" action="<?=$block->getBaseUrl()."catalogaddress/subscription/insert"; ?>">
    Store Name:<input name="name" type="text" required="required"/>
    Address:<input name="address" type="text" required="required"/>
    Phone Number:<input name="phone" type="number" required="required"/>
    Email:<input name="email" type="email" required="required"/>
    Website:<input name="website" type="text" required="required"/>
    <button type="submit">Create</button>
</form>