<?php
    $address = $block->getAddress();
?>

<form name="form" method="post" action="<?=$block->getBaseUrl()?>catalogaddress/subscription/update?id=<?=$this->getRequest()->getParam('id')?>">
    Store Name:<input name="name" type="text" required="required" value="<?=$address[0]['store_name'] ?>"/>
    Address:<input name="address" type="text" required="required" value="<?=$address[0]['address'] ?>"/>
    Phone Number:<input name="phone" type="number" required="required" value="<?=$address[0]['phone'] ?>"/>
    Email:<input name="email" type="email" required="required" value="<?=$address[0]['email'] ?>"/>
    Website:<input name="website" type="text" required="required" value="<?=$address[0]['website'] ?>"/>
    <button type="submit">Edit</button>
</form>