<div class="require" data-bind="visible: isLogin">
<div class="address-button">
    <button id="create" data-bind="click: showModal.bind($data, $parent)">Create New</button>
</div>
<table>
    <tr>
        <th>Store Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Website</th>
        <th colspan="2"></th>
    </tr>

    <tbody data-bind="foreach: addressList">
    <tr>
        <td data-bind="text: store_name"></td>
        <td data-bind="text: address"></td>
        <td data-bind="text: phone"></td>
        <td data-bind="text: email"></td>
        <td data-bind="text: website"></td>
        <td style="cursor: pointer" data-bind="visible: $parent.isCustomer($data)">
            <div style="color:red" id="delete" data-bind="click: $parent.deleteAddress.bind($parent)">Delete</div>
            <div style="color:blue" id="edit" data-bind="click: $parent.showModal.bind($parent)">Edit</div>
        </td>
        <!--<td id="delete" data-bind="click: $parent.deleteAddress.bind($data)"><span data-bind="visible: $parent.isCustomer.bind($data.customer_id)">Delete</span></td>-->
        <!--<td id="edit" data-bind="click: $parent.showModal.bind($parent)"><span data-bind="visible: $parent.isCustomer.bind($data.customer_id)">Edit</span></td>-->
    </tr>
    </tbody>
</table>
</div>
    <div id="popup-modal" style="display:none;" >
        <div>
            <form id="modal-form">
                <input type="hidden" name="id" data-bind="value: textId">
                Store Name:<input name="store_name" type="text" required="required" data-bind="value: textName"/>
                Address:<input name="address" type="text" required="required" data-bind="value: textAddress"/>
                Phone Number:<input name="phone" type="number" required="required" data-bind="value: textPhone"/>
                Email:<input name="email" type="email" required="required" data-bind="value: textEmail"/>
                Website:<input name="website" type="text" required="required" data-bind="value: textWebsite"/>
                <button id="close-modal" type="submit" data-bind="click: submitAction">Submit</button>
            </form>
        </div>
    </div>


<div data-bind="afterRender: initModal"></div>